USE [master]
GO
/****** Object:  Database [BBD1]    Script Date: 19/3/2018 08:40:59 ******/
CREATE DATABASE [BBD1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BBD1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BBD1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BBD1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BBD1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BBD1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BBD1]
GO
USE [BBD1]
GO
/****** Object:  Table [dbo].[EstadoGrupo]    Script Date: 19/3/2018 08:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoGrupo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoGxE]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoGxE](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoGxE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluacion]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[ID] [int] NOT NULL,
	[IdGrupoxRubro] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[ValorPorcentual] [int] NOT NULL,
 CONSTRAINT [PK_Evaluacion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionesxEstudiantes]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionesxEstudiantes](
	[ID] [int] NOT NULL,
	[IdGrupoxEstudiante] [int] NOT NULL,
	[IdEvaluacion] [int] NOT NULL,
	[Nota] [int] NOT NULL,
 CONSTRAINT [PK_EvaluacionesxEstudiantes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NULL,
	[IdPeriodo] [int] NULL,
	[NombreCurso] [varchar](50) NULL,
	[CodigoGrupo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoxEstudiante]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoxEstudiante](
	[ID] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdEstadoGxE] [int] NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[NotaAcumulada] [int] NOT NULL,
 CONSTRAINT [PK_GrupoxEstudiante] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoxRubro]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoxRubro](
	[ID] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdRubro] [int] NOT NULL,
	[ValorPorcentual] [int] NOT NULL,
	[Esfijo] [bit] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_GrupoxRubro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodo]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodo](
	[ID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFInal] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Periodo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubro]    Script Date: 19/3/2018 08:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubro](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rubro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesxEstudiantes_IdEvaluacion] FOREIGN KEY([IdEvaluacion])
REFERENCES [dbo].[Evaluacion] ([ID])
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes] CHECK CONSTRAINT [FK_EvaluacionesxEstudiantes_IdEvaluacion]
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesxEstudiantes_IdGrupoxEstudiante] FOREIGN KEY([IdGrupoxEstudiante])
REFERENCES [dbo].[GrupoxEstudiante] ([ID])
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes] CHECK CONSTRAINT [FK_EvaluacionesxEstudiantes_IdGrupoxEstudiante]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_IdEstado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadoGrupo] ([ID])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_IdEstado]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_IdPeriodo] FOREIGN KEY([IdPeriodo])
REFERENCES [dbo].[Periodo] ([ID])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_IdPeriodo]
GO
ALTER TABLE [dbo].[GrupoxEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxEstudiante_IdEstadoGxE] FOREIGN KEY([IdEstadoGxE])
REFERENCES [dbo].[EstadoGxE] ([ID])
GO
ALTER TABLE [dbo].[GrupoxEstudiante] CHECK CONSTRAINT [FK_GrupoxEstudiante_IdEstadoGxE]
GO
ALTER TABLE [dbo].[GrupoxEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxEstudiante_IdEstudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiante] ([ID])
GO
ALTER TABLE [dbo].[GrupoxEstudiante] CHECK CONSTRAINT [FK_GrupoxEstudiante_IdEstudiante]
GO
ALTER TABLE [dbo].[GrupoxEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxEstudiante_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[GrupoxEstudiante] CHECK CONSTRAINT [FK_GrupoxEstudiante_IdGrupo]
GO
ALTER TABLE [dbo].[GrupoxRubro]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxRubro_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[GrupoxRubro] CHECK CONSTRAINT [FK_GrupoxRubro_IdGrupo]
GO
ALTER TABLE [dbo].[GrupoxRubro]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxRubro_IdRubro] FOREIGN KEY([IdRubro])
REFERENCES [dbo].[Rubro] ([ID])
GO
ALTER TABLE [dbo].[GrupoxRubro] CHECK CONSTRAINT [FK_GrupoxRubro_IdRubro]
GO
USE [master]
GO
