USE [master]
GO
/****** Object:  Database [BDD1]    Script Date: 28/4/2018 11:38:06 ******/
CREATE DATABASE [BDD1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDD1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDD1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDD1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDD1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDD1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDD1]
GO
USE [BDD1]
GO
/****** Object:  Table [dbo].[Abonados]    Script Date: 28/4/2018 11:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonados](
	[ID] [int] NULL,
	[DocID] [int] NULL,
	[Nombre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumoAgua]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumoAgua](
	[ID] [int] NOT NULL,
	[FKPropiedad] [int] NOT NULL,
	[FechaLectura] [date] NOT NULL,
	[QM3] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lineas]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lineas](
	[ID] [int] NOT NULL,
	[FKTipoServicio] [int] NOT NULL,
	[FKPropiedad] [int] NOT NULL,
	[FKRecibo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipalidades]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipalidades](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DiaEmite] [varchar](50) NOT NULL,
	[DiaLimite] [varchar](50) NOT NULL,
	[TasaInteresMoratorio] [decimal](18, 0) NOT NULL,
	[ValorM3Agua] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propiedades]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propiedades](
	[ID] [int] NOT NULL,
	[FKMunicipalidad] [int] NOT NULL,
	[FKAbonado] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Valor] [decimal](18, 0) NOT NULL,
	[CodigoPostal] [varchar](50) NOT NULL,
	[NumeroFinca] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recibos]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibos](
	[ID] [int] NOT NULL,
	[FKPropiedad] [int] NOT NULL,
	[InteresMoratorio] [decimal](18, 0) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[FechaLimite] [date] NOT NULL,
	[FechaPagado] [date] NOT NULL,
	[SubTotal] [decimal](18, 0) NOT NULL,
	[Total] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiciosxPropiedad]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiciosxPropiedad](
	[ID] [int] NOT NULL,
	[FKPropiedad] [int] NOT NULL,
	[FKTipoServicio] [int] NOT NULL,
	[FechaContratacion] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoServicio]    Script Date: 28/4/2018 11:38:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicio](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Valor] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
