USE [master]
GO
/****** Object:  Database [BBD1]    Script Date: 3/27/2018 12:40:10 ******/
CREATE DATABASE [BBD1]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'BBD1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BBD1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'BBD1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BBD1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BBD1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BBD1]
GO
USE [BBD1]
GO
/****** Object:  Table [dbo].[EstadoGrupo]    Script Date: 3/27/2018 12:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoGrupo](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoGxE]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoGxE](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoGxE] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Carnet] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluacion]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[ID] [int] NOT NULL,
	[IdGrupoxRubro] [int] NOT NULL,
	--[idGrupo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[ValorPorcentual] [decimal](7, 4) NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_Evaluacion] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluacionesxEstudiantes]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluacionesxEstudiantes](
	[ID] [int] NOT NULL,
	[IdGrupoxEstudiante] [int] NOT NULL,
	[IdEvaluacion] [int] NOT NULL,
	[Nota] [decimal](7, 4) NOT NULL,
 CONSTRAINT [PK_EvaluacionesxEstudiantes] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[ID] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[IdPeriodo] [int] NOT NULL,
	[idProfesor] [int] NOT NULL,
	[NombreCurso] [varchar](50) NOT NULL,
	[CodigoGrupo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoxEstudiante]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoxEstudiante](
	[ID] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdEstadoGxE] [int] NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[NotaAcumulada] [decimal](7, 4) NOT NULL,
 CONSTRAINT [PK_GrupoxEstudiante] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoxRubro]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoxRubro](
	[ID] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[IdRubro] [int] NOT NULL,
	[ValorPorcentual] [decimal](7, 4) NOT NULL,
	[Esfijo] [varchar](6) NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_GrupoxRubro] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodo]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodo](
	[ID] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFInal] [date] NOT NULL,
	[Activo] [varchar](6) NOT NULL,
 CONSTRAINT [PK_Periodo] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubro]    Script Date: 3/27/2018 12:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubro](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rubro] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventosDeMantenimiento](
	[ID] [int] NOT NULL,
	[IdTipoEM] [int] NOT NULL,
	[XMLAntes] [varchar](2000) NOT NULL,
	[XMLDespues] [varchar](2000) NOT NULL,
	[PostIn] [varchar](50) NOT NULL,
	[PostBy] [varchar](50) NOT NULL,
	[PostDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEM](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO



/*ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_idGrupo] FOREIGN KEY([idGrupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [FK_Evaluacion_idGrupo]
GO*/
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_idGrupoxRubro] FOREIGN KEY([IdGrupoxRubro])
REFERENCES [dbo].[GrupoxRubro] ([ID])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [FK_Evaluacion_idGrupoxRubro]
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesxEstudiantes_IdEvaluacion] FOREIGN KEY([IdEvaluacion])
REFERENCES [dbo].[Evaluacion] ([ID])
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes] CHECK CONSTRAINT [FK_EvaluacionesxEstudiantes_IdEvaluacion]
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_EvaluacionesxEstudiantes_IdGrupoxEstudiante] FOREIGN KEY([IdGrupoxEstudiante])
REFERENCES [dbo].[GrupoxEstudiante] ([ID])
GO
ALTER TABLE [dbo].[EvaluacionesxEstudiantes] CHECK CONSTRAINT [FK_EvaluacionesxEstudiantes_IdGrupoxEstudiante]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_IdEstado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadoGrupo] ([ID])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_IdEstado]
GO
ALTER TABLE [dbo].[EventosDeMantenimiento]  WITH CHECK ADD  CONSTRAINT [FK_EventosDeMantenimiento_IdTipoEM] FOREIGN KEY([IdTipoEM])
REFERENCES [dbo].[TipoEM] ([ID])
GO
ALTER TABLE [dbo].[EventosDeMantenimiento] CHECK CONSTRAINT [FK_EventosDeMantenimiento_IdTipoEM]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_IdPeriodo] FOREIGN KEY([IdPeriodo])
REFERENCES [dbo].[Periodo] ([ID])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_IdPeriodo]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [FK_Grupo_idProfesor] FOREIGN KEY([idProfesor])
REFERENCES [dbo].[Profesor] ([id])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [FK_Grupo_idProfesor]
GO
ALTER TABLE [dbo].[GrupoxEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxEstudiante_IdEstadoGxE] FOREIGN KEY([IdEstadoGxE])
REFERENCES [dbo].[EstadoGxE] ([ID])
GO
ALTER TABLE [dbo].[GrupoxEstudiante] CHECK CONSTRAINT [FK_GrupoxEstudiante_IdEstadoGxE]
GO
ALTER TABLE [dbo].[GrupoxEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxEstudiante_IdEstudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiante] ([ID])
GO
ALTER TABLE [dbo].[GrupoxEstudiante] CHECK CONSTRAINT [FK_GrupoxEstudiante_IdEstudiante]
GO
ALTER TABLE [dbo].[GrupoxEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxEstudiante_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[GrupoxEstudiante] CHECK CONSTRAINT [FK_GrupoxEstudiante_IdGrupo]
GO
ALTER TABLE [dbo].[GrupoxRubro]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxRubro_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([ID])
GO
ALTER TABLE [dbo].[GrupoxRubro] CHECK CONSTRAINT [FK_GrupoxRubro_IdGrupo]
GO
ALTER TABLE [dbo].[GrupoxRubro]  WITH CHECK ADD  CONSTRAINT [FK_GrupoxRubro_IdRubro] FOREIGN KEY([IdRubro])
REFERENCES [dbo].[Rubro] ([ID])
GO
ALTER TABLE [dbo].[GrupoxRubro] CHECK CONSTRAINT [FK_GrupoxRubro_IdRubro]
GO
USE [master]
GO
